<div id="<%= dom_id meter %>">
  <p>
    <strong>New meter number:</strong>
    <%= meter.new_meter_number %>
  </p>

  <p>
    <strong>Reference no:</strong>
    <%= meter.reference_no %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= meter.status %>
  </p>

  <p>
    <strong>Older meter no:</strong>
    <%= meter.older_meter_no %>
  </p>

  <p>
    <strong>Old meter reading:</strong>
    <%= meter.old_meter_reading %>
  </p>

  <p>
    <strong>New meter reading:</strong>
    <%= meter.new_meter_reading %>
  </p>

  <p>
    <strong>Connection type:</strong>
    <%= meter.connection_type %>
  </p>

  <p>
    <strong>Bill month:</strong>
    <%= meter.bill_month %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= meter.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= meter.latitude %>
  </p>

  <p>
    <strong>Sub divisions:</strong>
    <%= meter.sub_division_id %>
  </p>

  <p>
    <strong>Meter type:</strong>
    <%= meter.meter_type %>
  </p>

  <p>
    <strong>Kwh mf:</strong>
    <%= meter.kwh_mf %>
  </p>

  <p>
    <strong>Sanction load:</strong>
    <%= meter.sanction_load %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= meter.full_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= meter.address %>
  </p>

  <p>
    <strong>Qc check:</strong>
    <%= meter.qc_check %>
  </p>

  <p>
    <strong>Application no:</strong>
    <%= meter.application_no %>
  </p>

  <p>
    <strong>Green meter:</strong>
    <%= meter.green_meter %>
  </p>

  <p>
    <strong>Telco:</strong>
    <%= meter.telco %>
  </p>

  <p>
    <strong>Sim no:</strong>
    <%= meter.sim_no %>
  </p>

  <p>
    <strong>Signal strength:</strong>
    <%= meter.signal_strength %>
  </p>

  <p>
    <strong>Picture upload:</strong>
    <%= meter.picture_upload %>
  </p>

</div>
